/node_modules
/.next
/.idea
tmp/

npm-debug.log*
yarn-debug.log*
yarn-error.log*


.DS_Store

/.vscode

/public/favicon.ico
/public/antd*.css

.env.local

icon-details
lastTarget

pc.sh
.history

tmp/
**/api/mock/
dist